.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container button {
  width: fit-content;
  height: 2rem;
  color: #004428;
  margin: 2px 0;
  padding: 2px;
  background-color: #00ff95;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  transition: all 0.3s;
  margin-right: 0.3rem;
  padding: 0.2rem;
}
.container button:hover {
  background-color: #057c49;
  color: white;
}
.container .pagenumber {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container span {
  display: flex;
  width: 2rem;
  height: 2rem;
  margin: 0 0.2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 0.2rem;
  cursor: pointer;
}
.container .spiliter {
  border: none;
}
.disable {
  opacity: 0.3;
}
.selected {
  background-color: #00ff95;
  color: black;
}
