.container {
  height: 6rem;
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  background-color: #222020;
  border-radius: 0.3rem;
}
.container h1 {
  display: flex;
  color: rgb(0, 199, 116);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.container a {
  font-weight: 400;
  color: #004428;
  margin: 2px 0;
  padding: 2px;
  background-color: #00ff95;
  border-radius: 3px;
  text-decoration: none;
  transition: all 0.3s;
  margin-right: 0.3rem;
  padding: 0.2rem;
}
.container a:hover {
  background-color: #057c49;
  color: white;
}
